
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h1>PDf Raporları Sayfası</h1>

<div class="container">
    <a href="/Admin/PdfReport/PdfReport" class="btn btn-outline-primary">Pdf Indır</a>

</div>

