
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h1>Excel Raporları Sayfası</h1>

<br />

<div class="container">
    <a href="/Admin/Excel/DestinationExcelReport" class="btn btn-outline-info">Tur Listesini Excel Indir</a>
</div>

