@model List<Guide>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
    int count = 0;
}

<h1>Rehber Listesi</h1>

<table class="table table-hover">
    <tr>
        <th>#</th>
        <th>Görsel</th>
        <th>Ad Soyad</th>
        <th>Açıklama</th>
        <th>Durum</th>
        <th>Düzenle</th>
    </tr>
    @foreach(var item in Model)
    {
        <tr>
            @{count++;}
            <td>@count</td>
            <td>
                <div
                    data-bs-toggle="tooltip"
                    data-popup="tooltip-custom"
                    data-bs-placement="top"
                    class="avatar avatar-xs pull-up"
                    title="Lilian Fuller">
                    <img src="@item.Image" alt="Avatar" class="rounded-circle" />
                </div>
            </td>
            <td>@item.Name</td>
            <td>@item.Description</td>
            @if (item.Status)
             {
                <td><a href="#" class="btn btn-outline-warning">Pasif Yap</a></td>
            }else
            {
                <td><a href="#" class="btn btn-outline-primary">Aktif Yap</a></td>
            }
            <td><a href="#" class="btn btn-outline-success">Düzenle</a></td>
        </tr>
    }
</table>
<div class="row">
    <a href="/Admin/Guide/AddGuide" class="btn btn-outline-primary">Yeni Rehber Ekle</a>
</div>
